<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${'错误 - ' + site_name}"></title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
        <h1 th:text="|${httpStatus} : ${httpStatus.reasonPhrase}|">404</h1>
        <!--/*@thymesVar id="errorMessage" type="me"*/-->
        <p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>